#analog{
    margin: auto;
    position: relative;
    background: url(./clock.png) no-repeat no-repeat center;
    height: 40vw;
    width: 40vw;
    background-size: 100%;
}
#circlepoint{
    position: absolute;
    width: 3%;
    height: 3%;
    top: 48.3%;
    left: 48.3%;
    background-color: rgb(35 35 35);
    z-index: 10;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 20px black, inset 0px 0px 20px 4px #ff000085;
}
.hand{
    position: absolute;
    width: 2%;
    left: 48.8%;
    transform-origin: bottom;
}
#shand{
    height: 37%;
    top: 12.8%;
    border-radius: 100% 100% 10% 10%;
    background-color:rgb(255 37 116);
    transform: rotate(120deg);
    z-index: 4;
}
#mhand{
    height: 31%;
    top: 18.8%;
    border-radius: 100% 100% 10% 10%;
    background-color: rgb(125 3 233);
    transform: rotate(0deg);
    z-index: 7;

}
#hhand{
    height: 21%;
    top: 28.8%;
    border-radius: 100% 100% 10% 10%;
    background-color: rgb(230, 0, 255);
    transform: rotate(240deg);
    z-index: 8;
 }