body{
    cursor: default;
}
.time {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #2d4d76;
    display: block;
}

.mtop{
    margin-top: 4%;
}

h1.st1 {
    display: inline-block;
    width:200px;
    font-size: 180px;
}

h1.st2 {
    display: inline-block;
    /*width:100px;*/
    font-size: 180px;
}

.dropdown {
    font-family: Arial, Helvetica, sans-serif;
    color: #021a39;
    text-align: center;
    width: 30%;
    display: block;
    margin: auto;
}

.footer {
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    font-size: 15px;
    margin: 20px;
}
  
.dark-mode {
    background-color: black;
    color: white;
}
select{
    cursor: pointer;
}

option{
    background-color: rgb(184, 189, 189);
    color: chartreuse;
}
option:checked{
    background-color: #956d6d;
}


@media only screen and (max-width: 992px) {
    h1.st1 {
        width:150px;
        font-size: 130px;
    }
    h1.st2 {
        font-size: 150px;
    }
    .dropdown {
        width: 60%;
    }
}

@media only screen and (max-width: 770px) {
    h1.st1 {
        width:100px;
        font-size: 80px;
    }
    h1.st2 {
        font-size: 90px;
    }
    #fullDate {
        font-size: 30px;
    }
    .dropdown {
        width: 80%;
    }
}


@media only screen and (max-width: 415px) {
    h1.st1 {
        width:80px;
        font-size: 70px;
    }
    h1.st2 {
        font-size: 70px;
    }
    #fullDate {
        font-size: 25px;
    }
    .dropdown {
        width:80%;
    }
    .container-block {
        margin-top: 40%;
        padding: 0px;
    }
}

a {
    color: #2d4d76;
    text-decoration: none;
}

#analog{
    position: relative;
    background: url(./clock.png) no-repeat no-repeat center;
    height: 400px;
    width: 400px;
    background-size: 100%;
    margin: 5vh auto;
}
#circlepoint{
    position: absolute;
    width: 3%;
    height: 3%;
    top: 48.3%;
    left: 48.3%;
    background-color: rgb(35 35 35);
    z-index: 10;
    border-radius: 50%;
    box-shadow: 0px 0px 1vh 1vh black, inset 0px 0px 20px 4px #ff000085;
}
.hand{
    position: absolute;
    width: 2%;
    left: 48.8%;
    transform-origin: bottom;
}
#shand{
    height: 37%;
    top: 12.8%;
    border-radius: 100% 100% 10% 10%;
    background-color:rgb(255 37 116);
    transform: rotate(120deg);
    z-index: 4;
}
#mhand{
    height: 31%;
    top: 18.8%;
    border-radius: 100% 100% 10% 10%;
    background-color: rgb(125 3 233);
    transform: rotate(0deg);
    z-index: 7;

}
#hhand{
    height: 21%;
    top: 28.8%;
    border-radius: 100% 100% 10% 10%;
    background-color: rgb(230, 0, 255);
    transform: rotate(240deg);
    z-index: 8;
 }

 .invert{
    filter: invert(70%);
 }

 @media only screen and (max-width: 600px){
    #analog{
        height: 200px;
        width: 200px;
    }
     .footer {
        position: relative;
        margin-top: 10vh;
    }
 }

